{% extends "base.html" %}
{% load static %}
{% block title %}{{ just_title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- <h2 class="text-left">Комитет по вопросам законности, правопорядка и безопасности</h2> -->



      <p class="mt-5 text-justify">
        Основными задачами Комитета являются разработка и обеспечение реализации мер по укреплению законности,
        правопорядка и безопасности в Санкт-Петербурге в пределах полномочий исполнительных органов государственной
        власти Санкт-Петербурга, а также разработка политики и реализация задач в области гражданской обороны,
        пожарной безопасности и защиты населения и территории Санкт-Петербурга от чрезвычайных ситуаций природного
        и техногенного характера.
      </p>
      <div class="text-left">
        <img src="{% static 'img/bg.jpeg' %}" class="img-fluid" alt="Комитет">
      </div>
    </div>
  </div>
</div>
{% endblock %} 