{% load thumbnail %}

<article class="post">
  <div class="card mb-4">
    <div class="card-body">
      <p class="author">
        Автор: {{ post.author.get_full_name }} 
        <a href="{% url 'posts:profile' post.author %}" class="btn btn-secondary">все записи</a>
      </p>
      <p class="pub-date">
        Дата публикации: {{ post.pub_date|date:"d.m.Y" }}
      </p>
    </div>

    {% thumbnail post.image "1440x420" crop="center" upscale=True as im %}
    <a href="{% url 'posts:post_detail' post.pk %}">
      <img class="card-img my-2" src="{{ im.url }}" alt="{{ post.title }}">
    </a>
    {% endthumbnail %}

    <div class="post-content card-body">
      <p>{{ post.text }}</p>
      <!-- <a href="{% url 'posts:post_detail' post.pk %}" class="details-link">азвернуть</a> -->
      <a href="{% url 'posts:post_detail' post.pk %}" class="btn btn-secondary">Развернуть</a>
      {% if post.group %}   
      <a href="{% url 'posts:group_list' post.group.slug %}" class="btn btn-secondary">все записи категрии</a>
    {% endif %}
    {% if not forloop.last %}{% endif %}
    </div>
  </div>
</article>
